# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.Sep6BackEnd.iml
# Datasource local storage ignored files
/../../../../../../../../:\Users\fatem\RiderProjects\Sep6BackEnd\.idea\.idea.Sep6BackEnd\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
